@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit (Safari, Chrome, Opera) */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Set the color of the scrollbar thumb */
}

/* Firefox */
/* Set the width and color of the scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5);
}

/* Standard syntax */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Webkit/Blink */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  .title {
    @apply text-xl text-dark font-semibold  text-center py-2 dark:text-light;
  }
  .label {
    @apply text-dark dark:text-light mb-2;
  }
  .input {
    @apply text-dark dark:text-light w-full bg-transparent border rounded h-[48px] px-2 outline-none mt-[15px];
  }

  .button {
    @apply flex flex-row justify-center items-center py-3 px-6 rounded-full cursor-pointer bg-[#2190ff] min-h-[45px] w-full  font-semibold;
  }

  .btn {
    @apply bg-gray-800 hover:bg-gray-700 text-gray-50 uppercase font-medium px-7 py-1.5 rounded max-w-max;
  }
}
