@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit (Safari, Chrome, Opera) */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Set the color of the scrollbar thumb */
}

/* Firefox */
/* Set the width and color of the scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5);
}

/* Standard syntax */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Webkit/Blink */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  .title {
    @apply text-xl text-dark font-semibold  text-center py-2 dark:text-light;
  }
  .label {
    @apply text-dark dark:text-light mb-2;
  }
  .input {
    @apply text-dark dark:text-light w-full bg-transparent border rounded h-[48px] px-2 outline-none mt-[15px];
  }

  .button {
    @apply flex flex-row justify-center items-center py-3 px-6 rounded-full cursor-pointer bg-[#2190ff] min-h-[45px] w-full  font-semibold;
  }

  .step-item {
    @apply relative flex flex-col justify-center items-center w-44;
  }
  .step-item:not(:first-child):before {
    @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
  }
  .step {
    @apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-700 rounded-full font-semibold text-white;
  }
  .active .step {
    @apply bg-sky-600;
  }
  .complete .step {
    @apply bg-green-600;
  }
  .complete p {
    @apply text-white;
  }
  .complete:not(:first-child):before,
  .active:not(:first-child):before {
    @apply bg-green-600;
  }
  .btn {
    @apply bg-gray-800 hover:bg-gray-700 text-gray-100 font-medium px-7 py-1.5 rounded;
  }
}
